__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucide
.cache
.pytest_cache
.coverage
htmlcov
.git
.vscode
.dockerignore
Dockerfile
docker-compose.yml
*.sqlite
data/
